 @media (max-width: 1920px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1170px;
	}
}

@media screen and (max-width: 991px) and (min-width: 320px) {
	.header__menu__nav ul li {
    	transform: translate(10px, 10px);
	}

	.card-body a p {
		width: 100%;
	}
}

@media screen and (max-width: 1554px) and (min-width: 320px) {
	.banner__right--top__content {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	.banner__right--bottom__content {
	    top: 50%;
	    left: 35%;
	    transform: translate(-50%, -50%);
	}

	.footer__content__left{

		p{
			width: 100%;
		}

		h2{
			width: 100%;
		}
	}
}

 @media screen and(min-width: 320px) {
	.header{

		&__menu--logo{
			position:unset;
		}
		position:relative;

		&__content{

			&__right{

				ul{
					padding: 0;
   					margin-bottom: 0;
   					transform: translateX(0);

					li{

						a{
							display: none;
						}
					}
				}
			}

			&__left{
				p{
					width: 227px;
					font-size: 8px;
					transform: translateX(0);
				}
			}
		}

		&__menu{
			position:relative;

			&__item{
				padding-left: 0;

				a{
					transform: translateX(0);

					i{
						font-size: 19px;
					}
				}
			}

			&__item--heart{
				
			}

			img{
				padding:0;
			}

			&__logo{

				button{
					display: block;
					float: left;
				}

				img{
					padding:0;
					width: 147px;
				    top: 50%;
    				left: 50%;
   					transform: translate(-50%, -50%);
				    position: absolute;
				}
			}
		}
 	}

 	.banner{

 		&__right--top{
 			margin-top: 30px;
 			height: 200px;

 			img{
 				height: 100%;
 			}

 			&__content{

 				p{
 					font-size: 11px;
 				}

 				h2{
 					font-size: 15px;
 				}
 			}
 		}

 		&__right--bottom{
 			height: 200px;

 			&__content{

 				div{
 					transform: translate(0%, -75%);
	 				height: 25px;
				    width: 60px;
				    font-size: 9px;
 				}

 				p{
 					font-size: 11px
 				}

 				h2{
 					font-size: 15px
 				}
 			}

 			img{
 				height: 100%;
 			}
 		}

 		&__left{

 			&__content{
				    transform: translate(-18%, 16%);

 				p{
 					font-size: 14px;
				    font-weight: 700;
				    letter-spacing: 0.1px;
 				}

 				div{
 					transform: translate(161%, -17%);
				    height: 25px;
				    width: 60px;
				    font-size: 9px;
 				}
 			}
 		}
 	}

 	.nav--fix{
 		margin-top: 32px;
 	}

 	.navbar{
 		width: 100%;
	    position: absolute;
	    z-index: 1;
	    background: white;
	    transform: translate(-25%,7%);
 	}

 	.event__image__image1__card {
 		border: none;
 	}

 	.footer{
 		height: 852px;

 		&__content{

 			&__left{

 				&__item{
 					transform: translate(0);
 					margin-bottom: 16px;
 				}
 			}

 			&__right{
 				margin-left: 0;
 			}
 		}

 		&__copyright{

 			p{
 				font-size: 10px;
 				margin-bottom: 0;
 			}

 			&__row{

 				p{

 					i{
 						font-size: 16px;
 					}
 				}
 			}
 		}
 	}

 	.owl-dots{
 		display: none;
 	}

 	.car-body{
 		a{
 			p{
 				width: 100%;
 			}
 		}
 	}

 	.header__menu__item a .pe-7s-like {
    	margin-right: 0;
	}
}

@media screen and (min-width: 380px) {

	.header__menu__item a .pe-7s-like {
    	margin-right: 10px;
	}

}

@media screen and (min-width: 480px) {

	.card-body a p {
		width: 100%;
	}

	.header__menu__item a i{
    	font-size: 25px;
	}

	.main-content__product__top__responsive{
		max-width: 50%;
	}
}

@media screen and (min-width: 576px) {

	.header__content__left p {
    width: 100%;
    font-size: 12px;
	}

	.banner{

		&__right--bottom{

			&__content{

				div{
					transform: translate(0%,-47%);
					height: 30px;
					width: 80px;
					font-size: 11px;
				}
			}
		}

		&__left{

			&__content{

				p{
					font-size: 20px;
				}

				div{
					transform: translate(175%,-17%);
					height: 30px;
					width: 80px;
					font-size: 11px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {

	.header__content__right ul li a {
	     display: inline;
	     font-size: 13px;
	}

	.banner{

		&__right--top{
			margin-top: 0;
			height: 100%;

			&__content{

				h2{
					font-size: 13px;
				}
			}
		}

		&__left{

			&__content{
				transform:translate(-17%,24%);

				div{
					transform: translate(172%,-17%);
				}
			}
		}

		&__right--bottom{
			height: 100%;
		}
	}

	.owl-dots{
		display: block;
	}

	.footer{
		height: 500px;
	}
	.form-control {
	    display: block;
	    margin-bottom: 10px;
	}

}

@media screen and (min-width: 970px) {

	.banner__left__content p {
    		font-size: 30px;
	}

	.banner__left__content div {
    		transform: translate(276%, -17%);
	}
}
@media screen and (min-width: 992px) {

	.header{

		&__menu{

			&__nav{

				&__item7{
					display: none;
				}

				ul{

					li{
						
						padding-left:10px;

						a{
							font-size: 12px;
						}
					}
				}
			}

			&__logo{

				img{
					transform: translate(0,0);
					width: 100%;
					position: unset;
				}

				button{
					display: none;
				}
			}
		}
	}

	.navbar{
		position:unset;
		z-index: 0;
		background:unset;
		transform: unset;
	}

	.nav--fix{
		margin-top: 0;
	}

	.form-control{
		display: block;
		margin-bottom: 10px;
	}

}

@media screen and (min-width: 1020px) {

	.banner__right--top__content {

    	p{
    		font-size: 14px;
    	}

    	h2{
    		    font-size: 18px;
    	}
	}

	.banner__right--bottom__content {
    
    	p{
    		font-size: 14px;
    	}

    	h2{
    		font-size: 18px;
    	}
	}
}
@media screen and (min-width: 1200px) {
	.form-control {
	    display: none;
	}
}
@media screen and (min-width: 1555px) {

	.form-control{
		display: none;
		margin-bottom: 0;
	}

	.header{

		&__content{

			&__right{

				ul{
					transform: translateX(-15px);

					li{

						a{
							font-size: 15px;
						}
					}
				}
			}

			&__left{

				p{
					font-size: 14px;
				    color: #525252;
				    font-family: 'Font Awesome', sans-serif;
				    transform: translateX(15px);
				    letter-spacing: 0.3px;
				}
			}
		}

		&__menu{

			&__item--heart{
				margin-right: 0;
			}

			&__item{

				a{
					transform: translate(-14px, 5px);

					i{
						font-size: 30px;
					}
				}
			}

			&__nav{

				ul{

					li{
						padding-left:46px;
						
						a{
							font-size: 14px;
						}
					}
				}

				&__item7{
					display: unset;
				}

				&__item1{
					    transform: translate(-8px, 0);
				}
			}

			img{
				padding: 0 0 0 30px;
			}

			&__logo{
				img{
					padding: 0 0 0 15px;
					width: unset;
				}
			}
		}
	}

	.header__menu__item a .pe-7s-like {
    	margin-right: 27px;
	}

	.banner{

		&__right--top{

			&__content{
				transform: translate(30%, -249%);
			}

			p{
				font-size: 16px;
			}

			h2{
				font-size: 20px;
			}
		}

		&__right--bottom{

			&__content{
				transform: translateY(-8%);

				p{
					font-size: 16px;
				}

				h2{
					font-size: 20px;
				}

				div{
					transform: translate(3%, -27%);
				    height: 40px;
				    width: 108px;
				    font-size: 14px;
				    color: #ffffff;
				}
			}
		}

		&__left{

			&__content{
				transform: translate(-12%, 32%);

				p{
					font-size: 30px;
				}

				div{
					transform: translate(201%, -17%);
					height: 40px;
    				width: 106px;
    				font-size: 14px;
				}
			}
		}
	}

	.footer{
		height: 417px;

		&__content{

			&__right{
				 margin-left: 97px;
			}

			&__left{

				&__item{
					transform: translate(1px, 18px);
				}
			}
		}
		&__copyright{

			p{
				font-size: 14px;
			}

			&__row{

				p{

					i{
						 font-size: 20px;
					}
				}

				&__right{
					p{
						float: right;
					    font-size: 20px;
					    transform: translate(1px, -2px);
					}
				}
			}
		}
	}
	
	.card-body{
		margin-bottom: 13px;
	}

}
